django
django-cors-headers
# TODO: Change the branch after finish development
git+https://github.com/usalko/strawberry.git@fix-fields-order
git+https://github.com/usalko/strawberry-django-plus.git@march23
